In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np 

# Files to Load
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data)
student_data = pd.read_csv(student_data)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#District Summary 
#Extract columns needed for data summary 
#reduced_school_data=school_data_complete.loc[:,["school_name", "student_name", "budget", "math_score", "reading_score"]]
#reduced_school_data

In [3]:
total_budget=school_data["budget"].sum() 
total_budget

24649428

In [4]:
total_schools=school_data_complete["school_name"].value_counts()
schools=total_schools.count()
schools

15

In [5]:
total_students=school_data_complete["Student ID"].value_counts()
total_stu=len(total_students)
total_stu

39170

In [6]:
#Calculate average math score 
aver_math=school_data_complete["math_score"].mean()
aver_math

78.98537145774827

In [7]:
#Calculate average reading score 
aver_reading=school_data_complete["reading_score"].mean()
aver_reading

81.87784018381414

In [8]:
#Calculate % of students with math grade >70
math_pass = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]["math_score"]
new_math = math_pass.count()
new_math

29370

In [9]:
math_pass_percent=new_math/total_stu*100
math_pass_percent

74.9808526933878

In [10]:
#Calculate % of students with reading grade >70
read_pass = school_data_complete.loc[school_data_complete["reading_score"] >= 70]["reading_score"]
new_read = read_pass.count()
new_read

33610

In [11]:
reading_pass_percent=(new_read/total_stu)*100
reading_pass_percent

85.80546336482001

In [12]:
#Calculate overall passing rate 
overall_pass=(aver_math + aver_reading)/2
overall_pass

80.43160582078121

In [13]:
overall_pass

80.43160582078121

In [14]:
summary_table = pd.DataFrame({"Total Schools": [schools],
                              "Total Students": [total_stu],
                              "Total Budget": [total_budget],
                              "Average Math Score": [aver_math],
                              "Average Reading Score": [aver_reading],
                              "% Passing Math": [math_pass_percent],
                              "% Passing Reading": [reading_pass_percent],
                              "% Overall Passing Rate": [overall_pass]})
summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [15]:
#Extract the columns for the school summary 
school_sum=school_data_complete[["school_name", "type", "size",
                           "budget", "math_score", "reading_score"]]
school_sum=school_sum.rename(
    columns={"school_name": "School Name","type":"School Type","size":"Total Students","budget":"Total Budget","math_score":"Average Math Score","reading_score":"Average Reading Score"})
school_sum.head()

,School Name,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score
0,Huang High School,District,2917,1910635,79,66
1,Huang High School,District,2917,1910635,61,94
2,Huang High School,District,2917,1910635,60,90
3,Huang High School,District,2917,1910635,58,67
4,Huang High School,District,2917,1910635,84,97

In [16]:
#Calculate necessary variables
#budget per student
budget_student=school_sum['Total Budget']/school_sum['Total Students']
budget_student

0        655.0
1        655.0
2        655.0
3        655.0
4        655.0
         ...
39165    638.0
39166    638.0
39167    638.0
39168    638.0
39169    638.0
Length: 39170, dtype: float64

In [48]:
#Number of students as a variable
students=school_sum['Total Students']
students

0        2917
1        2917
2        2917
3        2917
4        2917
         ...
39165    1635
39166    1635
39167    1635
39168    1635
39169    1635
Name: Total Students, Length: 39170, dtype: int64

In [49]:
twpercent_math=school_sum.loc[(school_sum["Average Math Score"] >= 70)]["Total Students"]
mathg=twpercent_math.count()
mathg

29370

In [50]:
school_math = (mathg*100)/students

In [51]:
#Calculate necessary variables
#% Passing Math 
percent_math=school_sum.loc[(school_sum["Average Math Score"] >= 70)]["Average Math Score"]
school_math = percent_math.sum()
school_math

2480921

In [52]:
#%Passing math continued 
#school_math_percent=(school_math/(school_sum['Total Students']))
twschool_math_percent=percent_math/twpercent_math
school_math_percent=twschool_math_percent*100
#school_math_percent=school_math_percent.dropna(how=any)
school_math_percent

0        2.708262
4        2.879671
5        3.222489
6        2.742544
8        2.982516
           ...
39165    5.504587
39166    4.281346
39167    5.137615
39168    5.504587
39169    4.587156
Length: 29370, dtype: float64

In [53]:
#% Passing Reading 
percent_reading=school_sum.loc[(school_sum["Average Reading Score"] >= 70)]["Average Reading Score"]
#school_reading = percent_reading.sum()
#school_reading
percent_reading

1        94
2        90
4        97
5        94
6        82
         ..
39165    99
39166    95
39167    73
39168    99
39169    95
Name: Average Reading Score, Length: 33610, dtype: int64

In [54]:
twpercent_reading=school_sum.loc[(school_sum["Average Reading Score"] >= 70)]["Total Students"]
twpercent_reading

1        2917
2        2917
4        2917
5        2917
6        2917
         ...
39165    1635
39166    1635
39167    1635
39168    1635
39169    1635
Name: Total Students, Length: 33610, dtype: int64

In [55]:
#%Passing reading continued 
#school_reading_percent=(percent_reading)/(school_sum['Total Students'])*100
twschool_reading_percent=percent_reading/twpercent_reading
school_reading_percent=twschool_reading_percent*100
school_reading_percent

1        3.222489
2        3.085362
4        3.325334
5        3.222489
6        2.811107
           ...
39165    6.055046
39166    5.810398
39167    4.464832
39168    6.055046
39169    5.810398
Length: 33610, dtype: float64

In [56]:
#Calculate overall passing rate 
overall_school=(school_math_percent)+(school_reading_percent)
overall_school_f=overall_school/2
overall_school_f

0             NaN
1             NaN
2             NaN
4        3.102503
5        3.222489
           ...
39165    5.779817
39166    5.045872
39167    4.801223
39168    5.779817
39169    5.198777
Length: 37452, dtype: float64

In [57]:
#Add new variables to dataframe
school_sum["Budget per Student"]=budget_student
school_sum["%Passing Math"]=school_math
school_sum["%Passing Reading"]=school_reading_percent 
school_sum["Overall %Passing"]=overall_school_f
school_sum

,School Name,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score,Budget per Student,%Passing Math,%Passing Reading,Overall %Passing
0,Huang High School,District,2917,1910635,79,66,655.0,2480921,NaN,NaN
1,Huang High School,District,2917,1910635,61,94,655.0,2480921,3.222489,NaN
2,Huang High School,District,2917,1910635,60,90,655.0,2480921,3.085362,NaN
3,Huang High School,District,2917,1910635,58,67,655.0,2480921,NaN,NaN
4,Huang High School,District,2917,1910635,84,97,655.0,2480921,3.325334,3.102503
...,...,...,...,...,...,...,...,...,...,...
39165,Thomas High School,Charter,1635,1043130,90,99,638.0,2480921,6.055046,5.779817
39166,Thomas High School,Charter,1635,1043130,70,95,638.0,2480921,5.810398,5.045872
39167,Thomas High School,Charter,1635,1043130,84,73,638.0,2480921,4.464832,4.801223
39168,Thomas High School,Charter,1635,1043130,90,99,638.0,2480921,6.055046,5.779817
39169,Thomas High School,Charter,1635,1043130,75,95,638.0,2480921,5.810398,5.198777

In [58]:
grouped_school_df = school_sum.groupby(['School Name'])
grouped_school_df = school_sum.groupby(['School Name']).first()
grouped_school_df_order=grouped_school_df[['School Type','Total Students','Total Budget','Budget per Student','Average Math Score','Average Reading Score','%Passing Math','%Passing Reading','Overall %Passing']]
grouped_school_df_order

,School Type,Total Students,Total Budget,Budget per Student,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,Overall %Passing
School Name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,59,75,2480921,1.507235,1.657958
Cabrera High School,Charter,1858,1081356,582.0,94,94,2480921,5.059203,5.059203
Figueroa High School,District,2949,1884411,639.0,87,85,2480921,2.882333,2.916243
Ford High School,District,2739,1763916,644.0,94,66,2480921,2.665206,2.701716
Griffin High School,Charter,1468,917500,625.0,68,79,2480921,5.381471,5.858311
Hernandez High School,District,4635,3022020,652.0,88,70,2480921,1.510248,1.704423
Holden High School,Charter,427,248087,581.0,92,86,2480921,20.140515,20.843091
Huang High School,District,2917,1910635,655.0,79,66,2480921,3.222489,3.102503
Johnson High School,District,4761,3094650,650.0,87,87,2480921,1.827347,1.827347
Pena High School,Charter,962,585858,609.0,75,91,2480921,9.459459,8.627859
Rodriguez High School,District,3999,2547363,637.0,81,74,2480921,1.850463,1.937984
Shelton High School,Charter,1761,1056600,600.0,91,70,2480921,3.975014,4.571266
Thomas High School,Charter,1635,1043130,638.0,76,76,2480921,4.648318,4.648318
Wilson High School,Charter,2283,1319574,578.0,71,84,2480921,3.679369,3.394656
Wright High School,Charter,1800,1049400,583.0,72,89,2480921,4.944444,4.472222

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [27]:
top5_df=grouped_school_df_order.sort_values(by ="Overall %Passing", ascending=False)
top5_df.head()

,School Type,Total Students,Total Budget,Budget per Student,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,Overall %Passing
School Name,,,,,,,,,
Holden High School,Charter,427,248087,581.0,92,86,21.545667,20.140515,20.843091
Pena High School,Charter,962,585858,609.0,75,91,7.796258,9.459459,8.627859
Griffin High School,Charter,1468,917500,625.0,68,79,5.517711,5.381471,5.858311
Cabrera High School,Charter,1858,1081356,582.0,94,94,5.059203,5.059203,5.059203
Thomas High School,Charter,1635,1043130,638.0,76,76,4.648318,4.648318,4.648318

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [28]:
bot5_df=grouped_school_df_order.sort_values(by ="Overall %Passing", ascending=True)
bot5_df.head()

,School Type,Total Students,Total Budget,Budget per Student,Average Math Score,Average Reading Score,%Passing Math,%Passing Reading,Overall %Passing
School Name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,59,75,1.728296,1.507235,1.657958
Hernandez High School,District,4635,3022020,652.0,88,70,1.898598,1.510248,1.704423
Johnson High School,District,4761,3094650,650.0,87,87,1.827347,1.827347,1.827347
Rodriguez High School,District,3999,2547363,637.0,81,74,2.025506,1.850463,1.937984
Ford High School,District,2739,1763916,644.0,94,66,3.431909,2.665206,2.701716

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [29]:
#Extra columns needed
math_grade=school_data_complete[["school_name", "grade","math_score"]]
math_grade

              school_name grade  math_score
0       Huang High School   9th          79
1       Huang High School  12th          61
2       Huang High School  12th          60
3       Huang High School  12th          58
4       Huang High School   9th          84
...                   ...   ...         ...
39165  Thomas High School  12th          90
39166  Thomas High School  10th          70
39167  Thomas High School   9th          84
39168  Thomas High School  10th          90
39169  Thomas High School  11th          75

[39170 rows x 3 columns]

In [44]:
math_grade_9=math_grade.loc[(math_grade["grade"] == '9th')]["math_score"]
math_grade_9

0        79
4        84
5        94
12       79
13       79
         ..
39152    84
39153    75
39157    94
39164    76
39167    84
Name: math_score, Length: 11408, dtype: int64

In [45]:
math_grade_9group=math_grade_9.groupby[('school_name')]
math_grade_9group

TypeError: 'method' object is not subscriptable

In [37]:
math_grade_10=math_grade.loc[(math_grade["grade"] == '10th')]["math_score"]
math_grade_10

8        87
9        84
10       70
11       77
14       67
         ..
39155    98
39158    90
39161    84
39166    70
39168    90
Name: math_score, Length: 10168, dtype: int64

In [39]:
math_grade_11=math_grade.loc[(math_grade["grade"] == '11th')]["math_score"]
math_grade_11

6        80
15       88
22       84
24       73
28       55
         ..
39156    95
39159    72
39160    86
39163    75
39169    75
Name: math_score, Length: 9695, dtype: int64

In [38]:
math_grade_12=math_grade.loc[(math_grade["grade"] == '12th')]["math_score"]
math_grade_12

1        61
2        60
3        58
7        69
29       88
         ..
39137    70
39144    87
39154    71
39162    77
39165    90
Name: math_score, Length: 7899, dtype: int64

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.