In [1]:
# Dependencies and Setup
import pandas as pd

# Files to Load
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data)
student_data = pd.read_csv(student_data)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#District Summary 
#Extract columns needed for data summary 
reduced_school_data=school_data_complete.loc[:,["school_name", "student_name", "budget", "math_score", "reading_score"]]
reduced_school_data

,school_name,student_name,budget,math_score,reading_score
0,Huang High School,Paul Bradley,1910635,79,66
1,Huang High School,Victor Smith,1910635,61,94
2,Huang High School,Kevin Rodriguez,1910635,60,90
3,Huang High School,Dr. Richard Scott,1910635,58,67
4,Huang High School,Bonnie Ray,1910635,84,97
...,...,...,...,...,...
39165,Thomas High School,Donna Howard,1043130,90,99
39166,Thomas High School,Dawn Bell,1043130,70,95
39167,Thomas High School,Rebecca Tanner,1043130,84,73
39168,Thomas High School,Desiree Kidd,1043130,90,99
39169,Thomas High School,Carolyn Jackson,1043130,75,95

In [3]:
total_budget= school_data_complete["budget"].sum
total_budget

<bound method Series.sum of 0        1910635
1        1910635
2        1910635
3        1910635
4        1910635
          ...
39165    1043130
39166    1043130
39167    1043130
39168    1043130
39169    1043130
Name: budget, Length: 39170, dtype: int64>

In [4]:
total_schools=school_data_complete["school_name"].value_counts()
total_schools

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [7]:
total_students=school_data_complete["Student ID"].value_counts()
total_stu=len(total_students)
total_stu

39170

In [8]:
#Calculate average math score 
aver_math=school_data_complete["math_score"].mean()
aver_math

78.98537145774827

In [9]:
#Calculate average reading score 
aver_reading=school_data_complete["reading_score"].mean()
aver_reading

81.87784018381414

In [14]:
#Calculate % of students with math grade >70
math_pass = school_data_complete.loc[school_data_complete["math_score"] >= 70,["school_name", "student_name", "budget", "math_score", "reading_score"]]
new_math = math_pass.count()
new_math

school_name      29370
student_name     29370
budget           29370
math_score       29370
reading_score    29370
dtype: int64

In [15]:
math_pass_percent=(new_math/total_stu)*100
math_pass_percent

school_name      74.980853
student_name     74.980853
budget           74.980853
math_score       74.980853
reading_score    74.980853
dtype: float64

In [ ]:
#Calculate overall passing rate 
overall_pass=(aver_math + aver_reading)/2
overall_pass

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.